* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#header {
  font-family: "Playfair Display", serif;
  font-size: 4em;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("gif2.jpg") no-repeat center center;
  z-index: 99999;
}

.myheading {
  text-align: center;
}

textarea {
  margin-top: 50px;
  font-size: 20px;
  box-shadow: 3px 8px #ccc;
  background-color: #fafafa;
  outline: none;
  max-width: 350px;
  width: 350px;
  height: 150px;
  padding: 10px;
  resize: none;

  overflow: none;
  border: none;
  text-align: center;
  border-radius: 10px;
}

textarea::placeholder {
  color: black;
}

textarea:focus::placeholder {
  color: transparent;
}

span {
  color: #04519e;
}

.hidden {
  animation: shake 20s ease-in;
  opacity: 70%;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.active {
  display: block;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.loadmodel {
  padding: 10px;
  color: black;
  border-style: groove;
  border-radius: 5%;
  border-color: black;
  font-size: 20px;
}
.savemodel {
  font-size: 20px;
  padding: 10px;
  color: black;
  border-style: groove;
  border-radius: 5%;
  border-color: black;
}
.model {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
  margin-left: 140px;
}

.cam {
  width: 445px;
  border-radius: 5%;
  height: 365px;
  box-shadow: 8px 6px #ccc;
  margin-top: 20%;
  border: 0.2em solid #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.flex-2-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 500px;
}

.className {
  color: black;
}
.count {
  color: black;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .newshifter {
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    margin: 2rem 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    box-shadow: 3px 8px #ccc;
    outline: none;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }
  .column {
    width: 100%;
  }

  .model {
    display: grid;
    margin-top: 150px;
    grid-column-gap: 100px;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;
    margin-left: 0px;
  }

  .cam {
    width: 295px;
    margin-left: 6%;
    border-radius: 5%;
    height: 243px;
    box-shadow: 6px 6px #ccc;
    margin-top: 10%;
  }
}

body {
  background-color: #fff;
}

.container {
  margin: auto;
  width: 80%;
}

#inputClassName {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 0;
  margin: 10px 50px;
  font-size: 20px;
  box-shadow: 0 8px #ccc;
  outline: none;
}

.grey-bg {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 0;
  margin: 2rem 10px;
  font-size: 20px;
  box-shadow: 3px 8px #ccc;
  outline: none;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.grey-bg h3 {
  display: inline;
  padding: 0.5rem;
  margin: 0.6rem auto;
  color: #fe4a49;
}
.grey-bg span {
  color: #000;
}

.dark {
  background-color: #394043;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  margin: 0px auto;
}

.btn-spread {
  text-align: center;
  justify-content: center;
  width: 90%;
  margin: 0.5rem 1rem;
  font-size: x-large;
  padding: 0.5rem 1.5rem;
}

.btn-lg {
  text-align: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  font-size: x-large;
  padding: 0.5rem 1.5rem;
}

.btn-shadow {
  box-shadow: 0px 2px #888;
}

.text-center {
  text-align: center;
}

body {
  overflow-x: hidden;
}
